<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Product</title>
        <link rel="stylesheet" href="/css/main.css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav" >
                <ul class="main-header__nav__item-list">
                    <li class="main-header__nav__item"><a href="/"> Shop</a></li>
                    <li class="main-header__nav__item"><a class="active" href="/admin/add-product"> Add Product</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form class="product-form" action="/admin/add-product" method="POST">
                <div class="form-control">
                    <label for="title">Product Title</label>
                    <input type="text" name="title" />
                    <button type="submit">Add</button>
                </div>
            </form>
        </main>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
    </body>
</html>